@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  gap: 100px;
}

#logo {
  margin-top: 40px;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

textarea {
  border: none;
  resize: none;
  outline: 0;
  width: 680px;
  height: 440px;
  color: #0a3871;
  font-size: 32px;
  line-height: 48px;
  background-color: #e5e5e5;
  margin-top: 150px;
}

#alertLegend {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #495057;
  margin-bottom: 5px;
}

.btn {
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #0a3871;
  background-color: #d8dfe8;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

#btnEncrypt {
  background-color: #0a3871;
  color: #fff;
  margin-right: 10px;
}

.areaResponse {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px #00000014;

  height: 90vh;
  margin: 40px;
  padding: 32px;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.areaResponse.response {
  font-size: 24px;
  line-height: 36px;
  color: #495057;

  justify-content: space-between;
  max-width: 400px;

  word-wrap: break-word;
}

.txtResponse p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  line-height: 29px;
  margin-bottom: 16px;
}

.txtResponse p:nth-child(2) {
  font-size: 16px;
  color: #343a40;
  line-height: 24px;
}

#btnCopy {
  display: none;
}

/* abaixo de 933px */
@media (max-width: 933px) {

  .img {
    display: none;
  }
  .header {
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;
  }

  .txtArea {
    position: absolute;
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;    
  }

  #alertLegend {
    position: absolute;
    left: 16px;
    top: 451px;
  }

  .btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    left: 16px;
    top: 485px;
  }
  .areaResponse {
    position: absolute;
    height: 186px;
   
    top: 707px;
   
  }
}
